$dark-blue: #1E90FF;
$dark-blue-alt: #0077EA;
$dark-pink: #FF1E90;
$dark-orange: #FF8D1E;
$dark-black: #1E1E1E;
$dark-gray-dark: #252526;
$dark-gray-med: #2D2D30;
$dark-gray-light: #3E3E42;
$dark-gray-text: #B3B3B3;
$dark-white: #FFFFFF;

$light-blue: #0077EA;
$light-blue-alt: #006AD1;
$light-pink: #FF1E90;//#EA0077;
$light-orange: #FF8D1E;//#EA7300;
$light-black: #010203;
$light-smoke: #F0F0F0;
$light-gray: #626262;
$light-gray-light: #E1E1E1;
$light-white: #FFFFFF;

$success: #40A680;
$danger: #F44336;
$danger-alt: #F32C1E;